/*
================================
= General
================================
*/
body{
    color: #0c0c0d;
    background: #f9f9fa;
}

/*
================================
= Multipin heading
================================
*/

#tabs_name_div{
    /* color: rgb(148, 0, 255); */
    color: #363959;
}

/*
================================
= features
================================
*/

.features{
    background: #ededf0;
}

.features button{
    color: #4a4a4f;
    transition: all 0.3s;
}

.features button:hover{
    color: rgb(148, 0, 255);
    transform: scale3d(1.2,1.2,1.2);
}
/*
================================
= Search
================================
*/
#search_box{
    color: rgb(12, 12, 13);
    background: #ededf0;
    transition: all 0.5s;
}
#search_box:focus{
    /* background: rgba(12, 12, 13,0.5); */
    background: #4a4a4f;
    color: #ededf0;
}

#search_box:focus + .fa-search{
    /* background: rgba(12, 12, 13,0.5); */
    color: #ededf0;
}

#tab_manager_menu_div .fa-search{
    color: #4a4a4f;
}

/*
================================
= bottom shadow
================================
*/

.bottom_shadow{
    background: linear-gradient(to top, white, transparent);
}

/*
================================
= Tab list Styles
================================
*/

.tab{
    color: #0c0c0d;
    /* background: #6200a4; */
    
}

.url_container{
    color: #363959;
}

.close_tab_button,
.reload {
    background: transparent;
    color: #363959;
    transition: all 0.3s;
}


.reload:hover{
    transform: rotateZ(360deg);
}

.close_tab_button:hover{
    transform: scale3d(1.2,1.2,1.2);
}


.highlighted {
    cursor: pointer;
    background: #ededf0;
    border-left: 3px solid rgba(148,0,255,1);
}