/*
================================
= General
================================
*/
body{
    color: #c8d6e5;
    background: #130f40;
}

/*
================================
= Multipin heading
================================
*/

#tabs_name_div{
    color: #22a6b3;
}


/*
================================
= Search
================================
*/
#search_box{
    color: #dff9fb;
    background: #30336b;
}

/*
================================
= Tab list Styles
================================
*/

.tab{
    color: #7ed6df;
    /* background: #6200a4; */
}

.url_container{
    color: #7ed6df;
}

.close_tab_button{
    background: transparent;
    color: rgba(148,0,255,0.5);
}



.highlighted {
    cursor: pointer;
    background: rgba(148, 0, 255,0.2);
    border-left: 3px solid rgba(148,0,255,1);
}