/*
================================
= General
================================
*/
body{
    color: #0c0c0d;
    background: #f9f9fa;
}

/*
================================
= Multipin heading
================================
*/

#tabs_name_div{
    color: rgb(148, 0, 255);
}

/*
================================
= features
================================
*/

.features{
    /* background: #4a4a4f; */
}

.features button{
    color: #4a4a4f;
}
/*
================================
= Search
================================
*/
#search_box{
    color: rgb(12, 12, 13);
    background: #ededf0;
    transition: all 0.5s;
}
#search_box:focus{
    /* background: rgba(12, 12, 13,0.5); */
    background: #4a4a4f;
    color: #ededf0;
}

#search_box:focus + .fa-search{
    /* background: rgba(12, 12, 13,0.5); */
    color: #ededf0;
}

#tab_manager_menu_div .fa-search{
    color: #4a4a4f;
}

/*
================================
= bottom shadow
================================
*/

.bottom_shadow{
    background: linear-gradient(to top, white, transparent);
}

/*
================================
= Tab list Styles
================================
*/

.tab{
    color: #0c0c0d;
    /* background: #6200a4; */
}

.url_container{
    color: #363959;
}

.close_tab_button,
.reload {
    background: transparent;
    color: rgba(148,0,255,0.5);
    transition: color 0.5s;
}

.close_tab_button:hover,
.reload:hover{
    color: #363959;
}


.highlighted {
    cursor: pointer;
    background: rgba(148, 0, 255,0.2);
    border-left: 3px solid rgba(148,0,255,1);
}