/*
================================
= General
================================
*/
body{
    color: #0c0c0d;
    background: #f9f9fa;
}

/*
================================
= Multipin heading
================================
*/

#tabs_name_div{
    color: #9400ff;
}


/*
================================
= Search
================================
*/
#search_box{
    color: #0c0c0d;
    background: #ededf0;
}

/*
================================
= Tab list Styles
================================
*/

.tab{
    color: #0c0c0d;
    /* background: #6200a4; */
}

.url_container{
    color: #363959;
}

.close_tab_button,
.reload {
    background: transparent;
    color: rgba(148,0,255,0.5);
    transition: color 0.5s;
}

.close_tab_button:hover,
.reload:hover{
    color: #363959;
}


.highlighted {
    cursor: pointer;
    background: rgba(148, 0, 255,0.2);
    border-left: 3px solid rgba(148,0,255,1);
}