/*
================================
= Fonts
================================
*/

/*
================================
= General Styles
================================
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding:0;
  width: 600px;
  font-family: 'Open Sans';
  font-size: 75%;
  color: #FFFFFF;
  background: #21252B;
  max-height: 400px;
}

/* Search highlighting */
b{
  color: rgba(148,0,255,1);
  /* font-style: italic; */
  font-weight: 400;
}

