*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  padding:0;
  width: 600px;
  font-family: "Inconsolata", "Monaco", "Consolas", 'Courier New', Courier;
  font-size: 75%;
  color: #FFFFFF;
  background: #21252B;
}

b {
  color: #FFFF00;
}
