/*
================================
= General
================================
*/
body{
    color: #0c0c0d;
    background: #f9f9fa;
}

/*
================================
= Multipin heading
================================
*/

#tabs_name_div{
    /* background: #d7d7db; */
    color: #9400ff;
}


/*
================================
= Search
================================
*/
#search_box{
    color: #0c0c0d;
    background: #ededf0;
}

/*
================================
= Tab list Styles
================================
*/

.tab{
    color: #0c0c0d;
    /* background: #6200a4; */
}

.url_container{
    color: #4a4a4f;
}

.close_tab_button{
    background: transparent;
    color: rgba(148,0,255,0.5);
}

.close_tab_button:hover {
    /* color: #DE5259; */
}




.highlighted {
    cursor: pointer;
    background: rgba(148, 0, 255,0.2);
    border-left: 3px solid rgba(148,0,255,1);
}