/*
================================
= Multipin Heading
================================
*/

#tabs_name_div {
  width: 100%;
  text-align: center;
}

#tabs_name {
  margin: 0px;
  padding: 16px 0;
  font-size: 28px;
  font-family: "Open Sans";
  font-weight: 800;
}

/*
================================
= Search box
================================
*/

.tab_manager_menu_div{
  width: 100%;
}

.search_box_base {
  color: #FFFFFF;
  background: #1B1D23;
  outline: none;
  border-width:0px;
  border:none;
}

#search_box {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 8px;
  padding: 8px 16px;
  margin-bottom: 15px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
}

#search_box:focus {
  outline: none;
}

/*
================================
= Tab Styling
================================
*/

#tab_container {
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  clear: both;
}

.tab {
  position: relative;
  padding: 10px;
  padding: 16px 0;
  padding-left: 24px;
}

.title_text{
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -1px;
}

.url_icon {
  width: 40px;
  height: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: auto;
  margin-top: auto;
  padding-left: 10px;
}

.tab_title_container {
  position: relative;
  left: 25px;
  width: 90%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.url_container {
  width: 100%;
  letter-spacing: 2px;
  font-size: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.close_tab_button {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 570px;
  right: 0;
  margin-bottom: auto;
  margin-top: auto;
}

.highlighted .close_tab_button {
  left: 567px;
}

.highlighted {
  cursor: pointer;
  background: #454951;
}
