/*
================================
= Fonts
================================
*/

/*
================================
= General Styles
================================
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding:0;
  width: 300px;
  font-family: 'Open Sans';
  font-size: 75%;
  max-height: 400px;
  overflow-y:hidden;
}

b{
  text-decoration: underline;
}

/*
================================
= Multipin Heading
================================
*/

#tabs_name_div {
  width: 100%;
  text-align: center;
}

#tabs_name {
  margin: 0px;
  padding: 8px 0;
  font-size: 24px;
  font-family: "Open Sans";
  font-weight: 800;
}

/*
================================
= Bottom shadow
================================
*/

.bottom_shadow{
  position:absolute;
  z-index: 101;
  width: 100%;
  height:20px;
  bottom:0;
}

/*
================================
= Search box
================================
*/

.tab_manager_menu_div{
  width: 100%;
}

.search_box_base {
  outline: none;
  border-width:0px;
  border:none;
}

#search_box {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 8px;
  padding: 8px 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 0;
  font-style: italic;
}

#search_box:focus {
  outline: none;
}

#tab_manager_menu_div { position: relative; }
#tab_manager_menu_div input { text-indent: 30px;}
#tab_manager_menu_div .fa-search { 
  position: absolute;
  top: 10px;
  left: 36px;
  font-size: 16px;
}

/*
================================
= Features box
================================
*/

.features{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 16px;
  padding: 8px 20px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.features button{
  background: transparent;
  border: none;
  font-size: 16px;
}

.features button:hover{
  cursor: pointer;
}

.feature_buttons{
  padding-right: 14px;
}

.feature_buttons:nth-child(7){
  padding-right: 0;
}


/*
================================
= capture tab
================================
*/

/* #capture_tab{
  position: absolute;
  width: 350px;
  height: auto;
  z-index: 200;
  left: -100px;
  border-radius: 10px;
} */
/*
================================
= Tab Styling
================================
*/

#tab_container {
  white-space: pre;
  overflow-y: scroll;
  clear: both;
  height: 250px;
  /* box-shadow: inset 0 0 10px #000000; */
}

.tab {
  position: relative;
  padding: 10px;
  padding: 16px 0;
  padding-left: 24px;
}

.title_text{
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12px;
  font-weight: 700;
  /* letter-spacing: -1px; */
  width: 60%;
}


.url_icon {
  width: 40px;
  height: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: auto;
  margin-top: auto;
  padding-left: 10px;
}

.tab_title_container {
  position: relative;
  left: 25px;
  width: 90%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.url_container {
  width: 70%;
  letter-spacing: 2px;
  font-size: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-style: italic;
}

.close_tab_button {
  position: absolute;
  top: 20px;
  right: 12px;
  font-size: 16px;
}

.reload{
  position: absolute;
  top: 25px;
  right: 44px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.highlighted{
  cursor: pointer;
}


/*
================================
= toggle
================================
*/

.toggle{
  position:absolute;
  right:20px;
  top: 12px;
}

.toggle label {
  display: block;
  width: 40px;
  height: 24px;
  margin: 0px auto;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  background-color: #E6E9EC;
}

.toggle input {
  display: none;
}

.toggle i {
  height: 20px;
  width: 20px;
  background: #ffffff;
  display: inline-block;
  border-radius: 100px;
  margin-top: 2px;
  margin-left: 2px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  pointer-events: none;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.toggle label:hover>i {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.20);
  transform: scale(1.01);
}

.toggle input:checked+label>i {
  margin-left: 18px;
}

.toggle label:active {
  background-color: #A6B9CB;
}

.toggle label:active>i {
  width: 34px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.20);
}

.toggle input:checked+label:active>i {
  margin-left: 18px;
}

.toggle input:checked+label {
  background-color: #008FFF;
}
